/*------ Global ------*/

$offblack: #0F0F10;
$blue: #C0E3E7;
$grey: #F5F5F5;
$darkgrey: #959595;
$greygrey: #818181;

@font-face {
    font-family: SFPTextRegular;
    src: url('./font/SFProDisplay-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SFPTextSemiBold;
    src: url('./font/SFProDisplay-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SFPTextMedium;
    src: url('./font/SFProDisplay-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
}

html {
    color: $offblack;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: $grey;
}

#content {
    display: flex;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    word-wrap: break-word;
}

h2 {
    font-family: SFPTextRegular;
    font-size: 22px;
    font-weight: 100;
    color: $darkgrey;
    margin-bottom: 30px;
}

dt {
    font-family: SFPTextRegular;
    color: $offblack;
}

dd {
    font-family: SFPTextRegular;
    color: $greygrey;
}

.skillbar {
    width: 100%;
    height: 8px;
    background-color: #EDEDED;
    margin-top: 12px;
    margin-bottom: 24px;
    border-radius: 1000px;
}

/*------ Navbar ------*/

header {
    marquee {
        width: 100%;
        height: 100px;
        background-color: $blue;
        font-family: SFPTextMedium;
        font-size: 22px;
        color: $offblack;
        padding: 30px;
    }
}

/*------ Card ------*/

#card {
    position: sticky;
    top: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 30px 31px 30px 40px;
    border-radius: 2px;
    border-color: #e1e1e1;
    background-color: $blue;

    >img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin-left: 50px;
        margin-top: 25px;
    }

    >h1 {
        text-align: center;
        margin-top: 15px;
        font-size: 24px;
        font-family: SFPTextMedium;
        font-weight: 100;
        color: $offblack;
    }

    >h5 {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        font-family: SFPTextMedium;
        font-weight: 580;
        color: $offblack;
    }

    >div:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;

        >a {
            margin-left: 5px;
            margin-right: 5px;

            .fa-circle {
                color: $offblack;
            }

            .fab {
                color: $blue;
            }
        }
    }

    >div:nth-child(5) {
        width: 280px;
        height: 136px;
        margin-top: 25px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 2px 2px;

        a {
            padding: 10px 26px;
            border-radius: 1000px;
            font-size: 18px;
            font-family: SFPTextMedium;
            color: $offblack;
            background-color: $blue;
            cursor: pointer;

            &:hover {
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }
        }
    }
}

/*------ Content ------*/

#hello {
    position: relative;
    min-height: fit-content;
    width: 928px;
    margin: 30px 40px 30px 30px;
    padding: 40px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    >h1 {
        font-size: 32px;
        font-family: SFPTextSemiBold;
    }

    >p {
        margin-top: 40px;
        margin-bottom: 60px;
        font-size: 20px;
        font-family: SFPTextRegular;
        color: $greygrey;
    }

    #personal {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;

        >dt {
            float: left;
        }

        >dd {
            margin-left: 120px;
            margin-bottom: 10px;

            &::after {
                clear: both;
            }
        }
    }

    #languages {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;

        >dt {
            float: left;
        }

        >dd {
            text-align: end;
            margin-bottom: 10px;

            &::after {
                clear: both;
            }
        }

        #lang1 {
            width: 75%;
            height: 8px;
            background-color: $blue;
            border-radius: 1000px;
        }

        #lang2 {
            width: 20%;
            height: 8px;
            background-color: $blue;
            border-radius: 1000px;
        }
    }

    #professional {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;

        >dt {
            float: left;
        }

        >dd {
            text-align: end;
            margin-bottom: 10px;

            &::after {
                clear: both;
            }
        }

        #html {
            width: 85%;
            height: 8px;
            background-color: $blue;
            border-radius: 1000px;
        }

        #js {
            width: 60%;
            height: 8px;
            background-color: $blue;
            border-radius: 1000px;
        }

        #pts {
            width: 76%;
            height: 8px;
            background-color: $blue;
            border-radius: 1000px;
        }

        #php {
            width: 30%;
            height: 8px;
            background-color: $blue;
            border-radius: 1000px;
        }
    }

    #additional {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;

        .col-md-6 {
            width: 219.5px;
        }

        .progress-text {
            top: 40%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        dt {
            text-align: center;
            margin-top: 14px;
        }
    }

    #abilities {
        padding-top: 40px;
        padding-bottom: 20px;
        position: relative;

        .fa-check-circle {
            color: $blue;
            float: left;
            padding-top: 6px;
        }

        dt {
            line-height: 30px;
            margin-left: 40px;

            &::before {
                content: "";
            }
        }
    }
}

#porfolio {
    min-height: fit-content;
    width: 928px;
    margin: 30px 40px 30px 30px;
    padding: 40px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    >h1 {
        font-size: 32px;
        font-family: SFPTextSemiBold;
    }

    #btngroup {
        margin-top: 40px;

        >a {
            font-family: SFPTextRegular;
            color: $greygrey;
            margin-right: 20px;
            font-size: 20px;
            cursor: pointer;

            &.active,
            &:hover {
                color: $offblack;
                font-weight: bolder;
            }
        }
    }

    #product {
        margin-top: 20px;
        display: inline-grid;
        grid-gap: 2px;
        justify-content: center;
        grid-template-columns: 48% 48%;

        >div {
            padding: 0px;

            >div {
                position: relative;

                .image {
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    width: 100%;
                }

                .blackscreen {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: #0F0F10;
                }

                &:hover .blackscreen {
                    opacity: 0.83;
                }

                .overlay {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: transparent;
                }

                &:hover .overlay {
                    opacity: 1;
                }

                .text {
                    color: white;
                    font-family: SFPTextMedium;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;

                    .viewmore {
                        margin-top: 18px;
                        padding: 10px 18px;
                        border-radius: 1000px;
                        font-size: 18px;
                        font-family: SFPTextMedium;
                        color: $offblack;
                        background-color: $blue;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#education {
    min-height: fit-content;
    width: 928px;
    margin: 30px 40px 30px 30px;
    padding: 40px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    >h1 {
        font-size: 32px;
        font-family: SFPTextSemiBold;
    }

    .education {
        margin-top: 40px;
        position: relative;
        max-width: 46em;

        &:before {
            background-color: $blue;
            content: '';
            margin-left: -1px;
            position: absolute;
            top: 0px;
            width: 2px;
            height: 100%;
        }

        .education-box {
            padding: 10px 30px;
            width: 100%;
            display: flex;

            .education-date {
                display: block;
                font-family: SFPTextMedium;
                color: $offblack;
                text-align: center;
                width: 100%;
                height: fit-content;

                &::before {
                    background-color: $offblack;
                    content: '';
                    position: absolute;
                    top: 13px;
                    left: -15px;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
}
            }

            h5 {
                font-family: SFPTextRegular;
                color: $offblack;
                font-size: 20px;
                font-weight: 700;
            }

            a {
                font-family: SFPTextRegular;
                color: $greygrey;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    color: $offblack;
                    font-weight: bolder;
                }

                .education-company {
                    margin-top: 10px;
                }
            }
        }
    }
}

#interests {
    min-height: fit-content;
    width: 928px;
    margin: 30px 40px 30px 30px;
    padding: 40px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    >h1 {
        font-size: 32px;
        font-family: SFPTextSemiBold;
    }

    >div {
        margin-top: 40px;

        .col-md-4 {
            display: inline-block;
            margin-bottom: 30px;

            .icon {
                width: 50px;
                height: auto;
            }

            dt {
                display: inline;
                margin-left: 10px;
            }
        }
    }
}

#contact {
    min-height: fit-content;
    width: 928px;
    margin: 30px 40px 30px 30px;
    padding: 40px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    >h1 {
        font-size: 32px;
        font-family: SFPTextSemiBold;
    }

    >div:nth-child(2) {
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;

        >a {
            margin-right: 5px;

            .fa-circle {
                color: $offblack;
            }

            .fab {
                color: white;
            }
        }
    }

    >h5 {
        font-family: SFPTextRegular;
        font-size: 26px;
        font-weight: 700;
    }

    form {
        margin-top: 30px;

        .label {
            font-family: SFPTextRegular;
            font-size: 20px;
            font-weight: 400;
        }

        button {
            margin-top: 20px;
            color: $offblack;
            background-color: $blue;
            font-size: 18px;
            padding: 8px 26px;
            border-radius: 1000px;
            font-family: SFPTextMedium;
            cursor: pointer;

            &:hover {
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }
        }

        textarea {
            height: 180px;
            min-height: 180px;
        }

        .form-control {
            background-color: #F3F3F3;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
            border-radius: 3px;
        }
    }
}

/*------ Footer ------*/

footer {
    width: 100%;
    font-family: SFPTextSemiBold;
    font-size: 22px;
    color: $offblack;
    text-align: center;
    vertical-align: middle;
    padding-top: 70px;
    padding-bottom: 20px;
}

/*------ Reponsive ------*/

@media only screen and (min-width:940px) and (max-width:1365px) {
    #content {
        display: block;
        min-height: fit-content;
        width: 100%;

        #card {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0px;
            grid-template-rows: 60px 60px 60px 100px;
            min-height: fit-content;
            width: 928px;
            padding: 40px;
            margin: 40px auto;
            background-color: white;

            >img {
                display: block;
                margin: auto;
                grid-column: 1 / 2;
                grid-row: 1/3;
            }

            >h1 {
                font-size: 32px;
                text-align: left;
                grid-column: 2 / 3;
                grid-row: 1/2;
            }

            >h5 {
                font-size: 20px;
                text-align: left;
                grid-column: 2 / 3;
                grid-row: 2/3;
            }

            >div:nth-child(4) {
                margin-top: 0px;
                justify-content: start;
                grid-column: 2 / 3;
                grid-row: 3/4;

                >a {
                    .fab {
                        color: white;
                    }
                }
            }

            >div:nth-child(5) {
                margin-top: 0px;
                width: 100%;
                height: 100%;
                background-color: transparent;
                grid-column: 1 / 3;
                grid-row: 4/5;
            }
        }

        #maincontent {
            width: 100%;
            display: block;

            #hello,
            #porfolio,
            #education,
            #interests,
            #contact {
                margin-left: auto;
                margin-right: auto;
            }

            .progress-text {
                top: 38%;
            }
        }
    }

}

@media only screen and (min-width:768px) and (max-width:939px) {
    #content {
        display: block;
        min-height: fit-content;
        width: 98%;
        margin: 0px auto;

        #card {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0px;
            grid-template-rows: 60px 60px 60px 100px;
            min-height: fit-content;
            width: 100%;
            padding: 40px;
            margin: 40px auto;
            background-color: white;

            >img {
                display: block;
                margin: auto;
                grid-column: 1 / 2;
                grid-row: 1/3;
            }

            >h1 {
                font-size: 32px;
                text-align: left;
                grid-column: 2 / 3;
                grid-row: 1/2;
            }

            >h5 {
                font-size: 20px;
                text-align: left;
                grid-column: 2 / 3;
                grid-row: 2/3;
            }

            >div:nth-child(4) {
                margin-top: 0px;
                justify-content: start;
                grid-column: 2 / 3;
                grid-row: 3/4;

                >a {
                    .fab {
                        color: white;
                    }
                }
            }

            >div:nth-child(5) {
                margin-top: 0px;
                width: 100%;
                height: 100%;
                background-color: transparent;
                grid-column: 1 / 3;
                grid-row: 4/5;
            }
        }

        #maincontent {
            width: 100%;
            display: block;

            #hello,
            #porfolio,
            #education,
            #interests,
            #contact {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }

            .progress-text {
                top: 35%;
            }
        }
    }

}

@media only screen and (min-width:320px) and (max-width:767px) {
    #content {
        display: block;
        min-height: fit-content;
        width: 98%;
        margin: 0px auto;
        padding: 0px;

        #card {
            position: relative;
            min-height: fit-content;
            width: 100%;
            margin: 4px auto;
            padding-top: 20px;

            >img {
                display: block;
                margin: auto;
            }

            >h1 {
                font-size: 32px;
                text-align: center;
            }

            >h5 {
                font-size: 20px;
                text-align: center;
            }

            >div:nth-child(5) {
                width: 100%;
                height: 100px;
            }
        }

        #maincontent {
            width: 100%;
            display: block;
            margin: 0px;

            #hello,
            #porfolio,
            #education,
            #interests,
            #contact {
                width: 100%;
                margin: 4px auto;
            }

            .progress-text {
                top: 40%;
            }

            .education-date {
                text-align: left;
            }
        }
    }

}