#video-background {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -2;
	overflow: hidden;
}
#nav {
	background-color: #000;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	border: none;
	outline: 0;
    outline-color: transparent;
    width: 4em;
    height: 3.6em;
}
#con1 {
	position: relative;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width:100%;
	height: 100vh;
	padding-top: 10vh;
	z-index: -2;
}
/*con1*/
#avatarcol {
}
#avatar {
	width: 30vh;
	height: 30vh;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#imcol {
	margin-top: 4vh;
}
#im {
	font-family: BankGothic;
	font-size: 1.7em;
	font-weight: 500;
	line-height: 1.08;
	text-align: center;
	vertical-align: middle;
	color: #31ff00;
}
.line {
	padding-left: 0px;
	padding-right: 0px;
}
hr {
    vertical-align: middle;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  top: 8vh;
  overflow: inherit;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}
div h5 {
  margin-top: 2vh;
  text-align: center;
  color: #31ff00;
  font-family: "Year 2000 Replicant"; 
  font-size: 8vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#section a {
  padding-top: 200px;
}
#section a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #31ff00;
  border-bottom: 2px solid #31ff00;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
/**/

/*con2*/
#con2 {
	z-index: -2;
	padding-top: 8vh;
	background-image: url('/src/assets/image/Group%202.png');
	background-repeat: no-repeat;
    background-position: left center;
    background-size: 88% 86%;
    height: 700px;
}
#contact {
	padding-left: 8%;
	height: 240px;
	display: block;
}
#info {
	height: 240px;
	display: inline-block;
	float: left;
	margin-left: 2.2%;
}
#introduce {
	font-family: "Source Code Pro";
	font-size: 4vh;
	line-height: 1.25;
	text-align: left;
	color: #31ff00;
	display: inline-block;
	padding-left: 9%;
}
#sign1 {
	padding-left: 62.5%;
	position: relative;
	height: 150px;
}
#sign1 img {
	margin-top: -5%;
	height: 200px;
}
/**/

/*con3*/
#con3 {
	z-index: -2;
	background-image: url('/src/assets/image/Group%202.png');
	background-repeat: no-repeat;
    background-position: right center;
    background-size: 91% 88%;
    margin-top: -8vh; 
	height: 958px;
	position: relative;
}
#experi {
	position: absolute;
	top: 8%;
	left: 31%;
	height: 240px;
	z-index: 2;
}
#gif {
	border: 5px solid #1D9500;
	position: absolute;
	left: 16%;
	top: 13.4%;
	width: 26%;
	z-index: 1;
}
#ob1 {
	position: absolute;
	left: 4%;
	top: 42%;
	width: 34%;
	height: auto;
	z-index: 0;
}
#ob2 {
	position: absolute;
	left: 10%;
	top: 36%;
	width: 16%;
	z-index: 2;
}
#ob3 {
	position: absolute;
	left: 12%;
	top: 58%;
	width: 18%;
	z-index: 1;
}
#ob4 {
	position: absolute;
	right: 16%;
	top: 8%;
	width: 22%;
	height: 86%;
	z-index: 1;
}
.year {
	color: #31ff00;
	font-family: "BankGothic";
	font-size: 4vh;
}
#y1 {
	position: absolute;
	right: 10.5%;
	top: 41%;
}
#y2 {
	position: absolute;
	right: 29.4%;
	top: 41%;
}
#y3 {
	position: absolute;
	right: 10.5%;
	top: 58.2%;
}
#dey1 {
	text-align: left;
	position: absolute;
	right: 2.5%;
	top: 47%;
	font-size: 2.7vh;
	font-weight: bolder;
}
#dey2 {
	text-align: right;
	position: absolute;
	right: 29.5%;
	top: 47%;
	font-size: 2.7vh;
	font-weight: bolder;
}
#dey3 {
	text-align: left;
	position: absolute;
	right: 4%;
	top: 64%;
	font-size: 2.7vh;
	font-weight: bolder;
}
/**/

/*con4*/
.title {
	color: #31ff00;
	font-family: "BankGothic";
}
#con4 {
	z-index: -2;
	background-image: url('/src/assets/image/Group%202.png');
	background-repeat: no-repeat;
    background-position: left top;
    background-size: 88% 92%;
	height: 700px;
	position: relative;
}
#skill {
	position: absolute;
	height: 240px;
}
#ob5 {
	position: absolute;
	top: -16%;
	right: 7%;
	height: 270px;
}
#dd {
	position: absolute;
	left: 8%;
	top: 34%;
	font-size: 5vh;
}
#ob6 {
	position: absolute;
	left: 5%;
	top: 40%;
	height: 3%;
}
#li1 {
	position: absolute;
	left: 8%;
	top: 42%;
	font-size: 3.3vh;
	font-weight: bolder;
	line-height: 1.8;
}
#lang {
	position: absolute;
	left: 8%;
	top: 66%;
	font-size: 5vh;
}
#ob7 {
	position: absolute;
	left: 5%;
	top: 72%;
	height: 3%;
}
#li2 {
	position: absolute;
	left: 8%;
	top: 74%;
	font-size: 3.3vh;
	font-weight: bolder;
	line-height: 1.8;
}
#line1 {
	position: absolute;
	top: 44.5%;
	left: 22%;
	width: 40%;
}
#line2 {
	position: absolute;
	top: 50%;
	left: 22%;
	width: 40%;
}
#line3 {
	position: absolute;
	top: 55.5%;
	left: 22%;
	width: 40%;
}
#line4 {
	position: absolute;
	top: 61%;
	left: 22%;
	width: 40%;
}
#line5 {
	position: absolute;
	top: 76.5%;
	left: 22%;
	width: 40%;
}
#line6 {
	position: absolute;
	top: 82%;
	left: 22%;
	width: 40%;
}