<button id="nav" class="sticky-top">
	<img src="src/assets/image/Symbol%2014%20%E2%80%93%201.png" width="30vh">
</button>

<div id="con1" class="container-fluid">
	<video id="video-background" preload="auto" autoplay="true" loop="loop" muted>
		<source src="src/assets/video/video-background.mp4" type="video/mp4">
	</video>
	<div id="avatarcol" class="col">
		<img id="avatar" src="https://cdn-images-1.medium.com/max/1600/1*XZrU5omVCZPZXuYv2AZnog.jpeg" class="rounded-circle" alt="avatar">
	</div>
	<div id="imcol" class="row">
		<div class="col-md-4 col-sm-3 col-xs-3 line"><hr  width="100%" size="5px" align="center" color="#31ff00" /></div>
		<div id="im" class="col-md-4 col-sm-8 col-xs-6"><p> i'm a web developer </p></div>
		<div class="col-md-4 col-sm-3 col-xs-3 line"><hr  width="100%" size="5px" align="center" color="#31ff00" /></div>
	</div>
	<div class="col">
		<h5>WELCOME</h5>
		<section id="section">
			<a href="#section06"><span></span></a>
		</section>
	</div>
</div>

<div id="con2" class="container-fluid">
	<img id="contact" src="src/assets/image/contact.png">
	<div class="row">
		<pre id="introduce">
&#123;
    name: '<font color="AEAEAE">Lê Huỳnh Tấn</font>',
    dateOfBirth: '<font color="AEAEAE">1996</font>',
    address: '<font color="AEAEAE">Củ Chi, tp.HCM</font>',
    phone: '<font color="AEAEAE">01264341544</font>',
    mail: '<font color="AEAEAE">lehuynhtan17@gmail.com</font>'
&#125;
		</pre>
		<img id="info" src="src/assets/image/info.png">
	</div>
	<div id="sign1" class="row">
		<img src="src/assets/image/Group%2056.png">
	</div>
</div>

<div id="con3" class="container-fluid">
	<img id="gif" src="src/assets/image/gif.gif">
	<img id="experi" src="src/assets/image/experi.png">
	<img id="ob1" src="src/assets/image/Symbol%2010%20%E2%80%93%201.png">	
	<img id="ob2" src="src/assets/image/Symbol%2012%20%E2%80%93%201.png">
	<img id="ob3" src="src/assets/image/Group%2060.png">
	<img id="ob4" src="src/assets/image/Group%2062.png">
	<p id="y1" class="year">2014 - 2018</p>
	<p id="y2" class="year">2016 - 2018</p>
	<p id="y3" class="year">2018 - 2019</p>
	<pre id="dey1" class="descript">
<font color="#31ff00" face="Source Code Pro">HCM UNIVERSITY OF SCIENCE</font>
<font color="#AEAEAE" face="Source Code Pro">Engineer of Computer Science</font>
	</pre>
	<pre id="dey2" class="descript">
<font color="#31ff00" face="Source Code Pro">LSI R&D Labs., Inc.</font>
<font color="#AEAEAE" face="Source Code Pro">Embedded system Trainee</font>
	</pre>
	<pre id="dey3" class="descript">
<font color="#AEAEAE" face="Source Code Pro">Junior Front-end Developer
UX & UI experience</font>
	</pre>
</div>