<button id="nav" class="sticky-top">
	<img src="src/assets/image/Symbol%2014%20%E2%80%93%201.png" width="30vh">
</button>

<div id="con1" class="container-fluid">
	<video id="video-background" preload="auto" autoplay="true" loop muted>
		<source src="src/assets/video/video-background.mp4" type="video/mp4">
	</video>
	<div id="avatarcol" class="col">
		<img id="avatar" src="https://cdn-images-1.medium.com/max/1600/1*XZrU5omVCZPZXuYv2AZnog.jpeg" class="rounded-circle" alt="avatar">
	</div>
	<div id="imcol" class="row">
		<div class="col-md-4 col-sm-3 col-xs-3 line"><hr  width="100%" size="5px" align="center" color="#31ff00" /></div>
		<div id="im" class="col-md-4 col-sm-8 col-xs-6"><p> i'm a web developer </p></div>
		<div class="col-md-4 col-sm-3 col-xs-3 line"><hr  width="100%" size="5px" align="center" color="#31ff00" /></div>
	</div>
	<div class="col">
		<h5>WELCOME</h5>
		<section id="section">
			<a href="#section06"><span></span></a>
		</section>
	</div>
</div>

<div id="con2" class="container-fluid">
	<img id="contact" src="src/assets/image/contact.png">
	<img id="info" src="src/assets/image/info.png">
	<pre id="introduce">
&#123;
    name: '<font color="AEAEAE">Lê Huỳnh Tấn</font>',
    dateOfBirth: '<font color="AEAEAE">1996</font>',
    address: '<font color="AEAEAE">Củ Chi, tp.HCM</font>',
    phone: '<font color="AEAEAE">01264341544</font>',
    mail: '<font color="AEAEAE">lehuynhtan17@gmail.com</font>'
&#125;
	</pre>
	<div id="sign1" class="row">
		<img src="src/assets/image/Group%2056.png">
	</div>
</div>

<div id="con3" class="container-fluid">
	<img id="gif" src="src/assets/image/gif.gif">
	<img id="experi" src="src/assets/image/experi.png">
	<img id="ob1" src="src/assets/image/Symbol%2010%20%E2%80%93%201.png">
	<img id="ob2" src="src/assets/image/Symbol%2012%20%E2%80%93%201.png">
	<img id="ob3" src="src/assets/image/Group%2060.png">
	<img id="ob4" src="src/assets/image/Group%2062.png">	
	<p id="y1" class="year">2014 - 2018</p>
	<p id="y2" class="year">2016 - 2018</p>
	<p id="y3" class="year">2018 - 2019</p>
	<pre id="dey1" class="descript">
<font color="#31ff00" face="Source Code Pro">HCM UNIVERSITY OF SCIENCE</font>
<font color="#AEAEAE" face="Source Code Pro">Engineer of Computer Science</font>
	</pre>
	<pre id="dey2" class="descript">
<font color="#31ff00" face="Source Code Pro">LSI R&D Labs., Inc.</font>
<font color="#AEAEAE" face="Source Code Pro">Embedded system Trainee</font>
	</pre>
	<pre id="dey3" class="descript">
<font color="#AEAEAE" face="Source Code Pro">Junior Front-end Developer
UX & UI experience</font>
	</pre>
</div>

<div id="con4" class="container-fluid">
	<img id="skill" src="src/assets/image/skill.png">
	<img id="ob5" src="src/assets/image/Group%2070.png">
	<img id="ob6" src="src/assets/image/Group%2033.png">
	<img id="ob7" src="src/assets/image/Group%2033.png">
	<p id="dd" class="title">development & design</p>
	<p id="lang" class="title">language</p>
	<p id="li1" class="descript">
<font color="#aeaeae" face="Source Code Pro">HTML/CSS</font><br>
<font color="#AEAEAE" face="Source Code Pro">JAVASCRIPT</font><br>
<font color="#aeaeae" face="Source Code Pro">PHP</font><br>
<font color="#AEAEAE" face="Source Code Pro">ILLUSTRATOR</font>
	</p>
	<p id="li2" class="descript">
<font color="#aeaeae" face="Source Code Pro">ENGLISH</font><br>
<font color="#AEAEAE" face="Source Code Pro">日本語</font>
	</p>
	<img id="line1" src="src/assets/image/Group 63.png">	
	<img id="line2" src="src/assets/image/Group 64.png">		
	<img id="line3" src="src/assets/image/Group 65.png">	
	<img id="line4" src="src/assets/image/Group 66.png">
	<img id="line5" src="src/assets/image/Group 69.png">
	<img id="line6" src="src/assets/image/Group 68.png">
</div>

<div id="con5" class="container-fluid justify-content-center">
	<pre class="p">

#	    .d8888b.                    d8b          888      888 d8b          888      
#	   d88P  Y88b                   Y8P          888      888 Y8P          888      
#	   Y88b.                                     888      888              888      
#	    "Y888b.    .d88b.   .d8888b 888  8888b.  888      888 888 88888b.  888  888 
#	       "Y88b. d88""88b d88P"    888     "88b 888      888 888 888 "88b 888 .88P 
#	         "888 888  888 888      888 .d888888 888      888 888 888  888 888888K  
#	   Y88b  d88P Y88..88P Y88b.    888 888  888 888      888 888 888  888 888 "88b 
#	    "Y8888P"   "Y88P"   "Y8888P 888 "Y888888 888      888 888 888  888 888  888 
#                                                                               
#                                                                               
#    	  Name			Link (click it)		  	  Ping		  Reply speed
#    	  -----------------------------------------------------------------------------------
#    	  Facebook		<a href="https://www.facebook.com/tan.huynh.121772" style="color: #31ff00">fb.com/tan.huynh.171227</a>		  10ms		  FAST
#    	  Messenger		<a href="http://m.me/tan.huynh.121772" style="color: #31ff00">m.me/tan.huynh.171227</a>		  10ms		  FAST
#    	  Instagram		<a href="https://www.instagram.com/666_lilsad/" style="color: #31ff00">instagram.com/666_lilsad</a>	  13ms		  MEDIUM
#
#    	  -----------------------------------------------------------------------------------
#
#    	  Name			Link (click it)		  	  Customer
#    	  -----------------------------------------------------------------------------------
#    	  BestBurger		<a href="https://www.1burger.ga" style="color: #31ff00">1burger.ga/</a>	  	  	  My friend	
#
#         </pre>
</div>